{% extends "base.html" %}

{% block style %}
<style>
    html,
    body {
        height: 100%;
        font-family: sans-serif;
    }

    .login-form-container {
        width: 300px;
        margin: auto;
    }

    .registration-form-container {
        width: 400px;
        margin: auto;
    }

    .auth_box {
        margin-top: 100px;
        border: 3px solid lightgray;
        border-radius: 5px;
    }
</style>
{% endblock %}

{% block content %}
<div class="auth_box text-center">
    <h1>QuestionTime</h1>
    <p class="lead text-muted">Knowledge hub</p>
    {% block auth %}
    {% endblock %}
</div>
{% endblock %}